.previousProjectsContainer {
    margin-top: 20px;
}

.projectCard {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s;
}

.projectCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin: 10px 0;
}

p {
    margin: 5px 0;
}
